# .env template: copy this file to .env and edit values as needed.
#
# Volume mappings
#
PROXY_VOLUME_MAP1=./nginx.conf:/etc/nginx/nginx.conf
PROXY_VOLUME_MAP2=./sandbox.crt:/etc/nginx/sandbox.crt
PROXY_VOLUME_MAP3=./sandbox.key:/etc/nginx/sandbox.key

# External ports (defaulted to standard ports)
#
PROXY_HTTP_PORT=80
PROXY_HTTPS_PORT=443

# Broker database
#
BROKER_DB_NAME=massvaxx
BROKER_DB_USERNAME=massvaxxadmin
BROKER_DB_PASSWORD=BROKER_DB_PASSWORD

# HAPI FHIR DB (must match settings in hapi.properties)
#
HAPI_DB_NAME=hapi
HAPI_DB_USERNAME=hapiuser
HAPI_DB_PASSWORD=HAPI_DB_PASSWORD