body {
    background-color: white;
}

p {
    margin: 8px;
    margin-left:0px;
    margin-right: 0px;
}
h2 {
    margin-top: 30px;
    margin-bottom: 2px;
    color: #F9F0E9;
}

.center-vertical{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.flex-center{
    justify-content: center;
}
.flex-column{
    display: flex;
    flex-flow: column;
}
.flex-row{
    display: flex;
    flex-flow: row;
}
.hidden {
    display: none;
}
